<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thankyou for signup</title>
</head>
<body>
    <h2>Thankyou for register Mr.{{username}}</h2>
    <img src="/home/apptrinity07/Flask/project/static/images" alt="">
    <!--<img src="{{ url_for('static', filename='download.jpeg', _external=True) }}"-->
    <!-- <img src="/home/apptrinity07/Flask/project/static/images/download.jpeg" alt=""> -->
    <h2>Welcome to Prashanth company</h2>
</body>
</html>